{% extends 'parent.html' %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block main %}

<!-- This will contain the Main part of the html page-->
<main>
    <h2 class="text-center">Add Task</h2>
    <div class="container">
        <form>
            <div class="mb-3">
                <label for="Title" class="form-label">Title</label>
                <input type="Text" class="form-control" id="Title">
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label><br>
                <textarea name="Description" class="form-control" placeholder="Leave a comment here"
                    id="Description"></textarea>
            </div>
            <!-- <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-success btn-lg">Add</button>
        </form>
    </div>
    <u>
        <h2 class="text-center">Your Task's</h2>
    </u>
    <div class="container List my-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S no</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock main %}