{% extends 'parent.html' %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block main %}

<!-- This will contain the Main part of the html page-->
<main>
    <h2 class="text-center">Add Task</h2>
    <div class="container">
        <form action="/" method="post">
            <div class="mb-3">
                <label for="Title" class="form-label">Title</label>
                <input type="Text" class="form-control" id="Title" name="Title">
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label><br>
                <textarea name="Description" class="form-control" placeholder="Leave a comment here"
                    id="Description"></textarea>
            </div>
            <!-- <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-success btn-lg">Add</button>
        </form>
    </div>
    <u>
        <h2 class="text-center">Your Task's</h2>
    </u>
    <div class="container List my-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S no</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>

                {% for Task in allTask %}
                <tr>
                    <th scope="row">{{Task.sno}}</th>
                    <td>{{Task.title}}</td>
                    <td>{{Task.description}}</td>
                    <td>@mdo</td>
                    <td><a href="/update?sno={{Task.sno}}" class="btn btn-secondary">Update</a></td>
                    <td><a href="/delete?sno={{Task.sno}}" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</main>
{% endblock main %}